<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvncVh-B2FP7IRRNSUA3NM_RDc0-oJC6E</string>
	<key>GCM_SENDER_ID</key>
	<string>7466562978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashchatSecondtime</string>
	<key>PROJECT_ID</key>
	<string>flashchat-9706a</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-9706a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7466562978:ios:2350f23b21793b37792efb</string>
</dict>
</plist>